- title = @user.name.blank? ? @user.email : @user.name
- provide :title, "Éditer le profil"
- provide :desc, 'modification du profil utilisateur de ' + title

= render 'shared/pages/band'

%section.profil
  .container
    .row
      .col.s12.offset-m3.offset-s4
        = link_to "Profil actuel", user_path(@user.id), class: :'light-green-text'

      = render 'users/profile', user: @user

    %br
    .row
      .col.s12.offset-m1.m10
        %hr

    %br
    .row
      .col.s12.offset-m1.m6
        %h5 Modifier les informations
        %br
        = render 'users/edit_form'

      .col.s12.m4.text-right
        %h5 Supprimer mon compte
        %p
          Attention, cette action est irr&eacute;versible !
        = render 'users/delete_button'

:javascript
  document.getElementById("edit_user").classList.remove("col")
