- title = @user.name.blank? ? @user.email : @user.name
- provide :title, title.split("@")[0]
- provide :desc, 'profil utilisateur de ' + title

= render 'shared/pages/band'

%section.profil
  .container
    .row
      - if authorized?
        .col.s12.offset-m3.offset-s4
          = link_to "Modifier le profil", edit_user_registration_path, class: :'light-green-text'
      = render 'profile', user: @user
    .row
      .col.s12.m10.offset-m1.center
        %ul.tabs.center
          %li.tab.col
            %a.active{href: :'#templates'}
              templates
              %span.badge 0
          %li.tab.col
            %a{href: :'#favoris'}
              favoris
              %span.badge 0
          - if authorized?
            %li.tab.col
              %a{href: :'#identites'}
                identit&eacute;s
                %span.badge= identities_number

    .row
      #templates.col.s12.m10.offset-m1
        .row
          %p.grey-text.tip
            %i.mdi-action-help<
            Regroupe les templates
            - if authorized?
              que vous avez partag&eacute;s.
            - else
              partag&eacute;s par #{title}.
          = render 'nothing_here'
      #favoris.col.s12.m10.offset-m1
        .row
          %p.grey-text.tip
            %i.mdi-action-help<
            Regroupe les templates
            - if authorized?
              que vous avez mis en favoris.
            - else
              mis en favoris par #{title}
          = render 'nothing_here'
      - if authorized?
        #identites.col.s12.m10.offset-m1
          .row
            %p.grey-text.tip
              %i.mdi-action-help
              Regroupe les fournisseurs externes par lesquels vous vous &ecirc;tes connect&eacute;.
            = (render @user.identities) || (render 'nothing_here')
