%footer.grey.darken-3
  -# .row.brown.white-text.utilities
  -#   .container
  -#     .col.s12
  -#       Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  .container
    .row.grey-text.links
      .col.m3.hide-on-med-and-down.image
        = image_tag "logo_blanc.png", class: :'responsive-img'
      .col.l3.m4.s12.grey-text
        %h5 Hobbes
        %ul
          %li
            %a.grey-text{:href => page_path('infos')} Informations
          %li
            %a.grey-text{:href => page_path('download')} T&eacute;l&eacute;chargements
          %li
            %a.grey-text{:href => page_path('guides')} Documentation
          %li
            %a.grey-text{:href => page_path('community')} Communaut&eacute;
      .col.l3.m4.s12
        %h5 Le projet
        %ul
          %li
            %a.grey-text{:href => "#!"} Code source
          %li
            %a.grey-text{:href => "#!"} Code source (site web)
          %li
            %a.grey-text{:href => page_path('contribute')} Contribuer
      .col.l3.m4.s12
        %h5 Addendum
        %ul
          %li
            %a.grey-text{:href => page_path('about')} À Propos
          %li
            %a.grey-text{:href => page_path('contact')} Contact
          %li
            %a.grey-text{:href => "http://www.gnu.org/copyleft/gpl.html", target: :_blank} Licence
  .footer-copyright.darken-4
    .container.grey-text
      = link_to "Hobbes", root_path, class: :name
      %span.grey-text.darken-1.right.copy &copy; 2015 &middot; Tous droits r&eacute;serv&eacute;s
      %ul.authors
        %li
          = link_to "Logan Braga", "http://loganbraga.fr", target: :_blank
        %li
          = link_to "Maxime Guillermet", "http://maxime-guillermet.com/", target: :_blank
        %li
          = link_to "Marie Nuel", "http://marienuel.com", target: :_blank
