%footer.grey.darken-3
  -# .row.brown.white-text.utilities
  -#   .container
  -#     .col.s12
  -#       Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  .container
    .row.grey-text.links
      .col.m3.hide-on-small-only.image
        = image_tag "logo_blanc.png", class: :'responsive-img'
      .col.l3.m3.s12.grey-text
        %h5 Hobbes
        %ul
          %li
            %a.grey-text{:href => page_path('infos')} Informations
          %li
            %a.grey-text{:href => page_path('download')} T&eacute;l&eacute;chargements
          %li
            %a.grey-text{:href => page_path('guides')} Documentation
          %li
            %a.grey-text{:href => page_path('community')} Communaut&eacute;
          - unless user_signed_in?
            %li
              %a.grey-text{:href => new_user_session_path} Connexion
            %li
              %a.grey-text{:href => new_user_registration_path} Inscription
      .col.l3.m3.s12
        %h5 Le projet
        %ul
          %li
            %a.grey-text{:href => "https://github.com/loganbraga/hobbes"} Code source
          %li
            %a.grey-text{:href => "https://github.com/loganbraga/hobbes-site"} Code source (site)
          %li
            %a.grey-text{:href => page_path('contribute')} Contribuer
      .col.l3.m3.s12
        %h5 Addenda
        %ul
          %li
            %a.grey-text{:href => page_path('about')} À Propos
          %li
            %a.grey-text{:href => contact_path} Contact
          %li
            %a.grey-text{:href => "http://www.gnu.org/copyleft/gpl.html", target: :_blank} Licence
  .footer-copyright.darken-4
    .container.grey-text
      = link_to "Hobbes", root_path, class: :name
      %span.grey-text.darken-1.right.copy.hide-on-med-and-down &copy; 2015 &middot; Tous droits r&eacute;serv&eacute;s
      %ul.authors
        %li
          = link_to "Logan Braga", "http://loganbraga.fr", target: :_blank
        %li
          = link_to "Maxime Guillermet", "http://maxime-guillermet.com/", target: :_blank
        %li
          = link_to "Marie Nuel", "http://marienuel.com", target: :_blank
      %span.grey-text.darken-1.copy.hide-on-large-only &copy; 2015 &middot; Tous droits r&eacute;serv&eacute;s
