- provide :background, "nav-on"

%ul#main_drop.dropdown-content
  %li
  %li
    = nav_link "Communauté", page_path('community')
  %li.divider
  %li
    = nav_link_member

%nav.white
  .nav-wrapper
    .row
      .col.s12.l8.offset-l2
        -# = link_to "Hobbes", root_path, class: :'brand-logo hide-on-large-only'
        = logo_link_to_root "brand-logo "
        -# %span.title.hide-on-med-and-down Hobbes
        %ul#nav-mobile.right.side-nav
          %li
            = nav_link "hobbes", root_path
          %li
            = nav_link "infos", page_path('infos')
          %li
            = nav_link "téléchargement", page_path('download')
          %li
            %a{href: :'#!', :class => "dropdown-button", :'data-activates' => "main_drop"}
              espace membre
              %i.mdi-navigation-arrow-drop-down.right.light-green-text>
        %a{href: :'#', class: :'button-collapse', :'data-activates' => 'nav-mobile'}
          %i.mdi-navigation-menu
