- provide :background, "nav-on"

%ul#main_drop.dropdown-content
  = nav_link "Communauté", page_path('community')
  %li.divider
  = nav_link_member

%nav.white
  .nav-wrapper
    .row
      .col.s12.l8.offset-l2
        = logo_link_to_root "brand-logo "
        %ul#nav-mobile.right.side-nav
          = nav_link "hobbes", root_path
          = nav_link "infos", page_path('infos')
          = nav_link "téléchargement", page_path('download')
          %li
            %a{href: :'#!', :class => "dropdown-button", :'data-activates' => "main_drop"}<
              espace membre
              = nav_auth_icon
        %a{href: :'#', class: :'button-collapse', :'data-activates' => 'nav-mobile'}
          %i.mdi-navigation-menu
