- provide :title, "Connexion"
- provide :background, "light-green-bg nav-off footer-off"

.container
  %br
  .row
    .col.s12.m6.offset-m3.z-depth-2.white
      .sign-in-card
        .center.logo
          = logo_link_to_root "responsive-img"
          %h4.light-green-text.darken-1 Connexion
          %h6.grey-text Hobbes &middot; Acc&egrave;s &agrave; la communaut&eacute;
        %br

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .row.form-inputs
            .row
              .col.s12
                = f.input :email, required: false, autofocus: true
            .row
              .col.s12
                = f.input :password, required: false
            .row
              .col.s12
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .row.form-actions
            .col.s12
              = link_to "#", class: :'submit btn btn-flat btn-large white-text brown col s12 btn-background-brown waves-effect waves-light', 'data-id' => 'new_user' do
                Connexion
                %i.mdi-content-send
              = button_tag(type: 'submit', class: "submit btn btn-flat btn-large white-text brown col s12 btn-background-brown") do
                Connexion
                %i.mdi-content-send

          .row
            .col
              = render "devise/shared/links"
